{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Welcome To RateYourSkills</h1>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color:#4CB1F7">Free</li>
        <li class="grey">$ 0 / month</li>
        <li>Manage Up to 10 users</li>
        <li>Assign 1 skill building task per user</li>
        <li>Community Support</li>
        <li class="grey"><a href="#" class="button" style="background-color:#4CB1F7">Get Started</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header">Standard</li>
        <li class="grey">$ 10 / month</li>
        <li>Manage Up to 1500 users</li>
        <li>Assign 5 skill building tasks per user</li>
        <li>Standard Local Business Hour Support</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>

    <div class="columns">
      <ul class="price">
        <li class="header">Enterprise</li>
        <li class="grey">$ 20 / month</li>
        <li>Manage Up to 5000 users</li>
        <li>Assign unlimited skill building tasks per user</li>
        <li>24/7 Support</li>
        <li class="grey"><a href="#" class="button">Sign Up</a></li>
      </ul>
    </div>

{% endblock %}